<div id="result_items">


	<div class="grid_6">
	Transparencia:
	
	</div>
	<div class="grid_6 omega">
	Web
	<%= render :partial => "result" , :collection => @results %>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>