<div id="result_items">
	<div class="grid_6">
		<h2 class="label">Transparencia:</h2>
	
	</div>
	<div class="grid_6 omega">
		<h2 class="label">Web:</h2>
		<%= render :partial => "result" , :collection => @results %>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>