<div id="result_items">


	<div class="grid_6">
	<!-- <h1>aa<%#= @search_value %>bb</h1> -->
	<%= render :partial => "result" , :collection => @results %>
	</div>
	<div class="grid_6 omega">

	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>