<% if notice %>
		<div class="alert alert-success">
			<div class="container">
				<div class="grid_11">
					<p class="alert alert-success"><%= notice %></p>		
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	  
	<% end %>
	<% if alert %>
		<div class="alert alert-danger">
			<div class="container">
				<div class="grid_11">
	  			<p class="alert alert-danger"><%= alert %></p>
	  			<div class="clear"></div>
	  			</div>
	  		<div class="clear"></div>
			</div>
		<div class="clear"></div>
	  	</div>
	<% end %>