<div id="footer_page">
	<span class="copy">
		&copy; <%= Time.now.year%> All rights reserved.
	</span>
	<span>
		Powered by
		<%= link_to image_tag("logo.png"), "http://elev.it", :class => "link" %>
	</span>
</div>