<div id="header_page">
	<div class="container">
		<div class="grid_11">
			<%= link_to image_tag("gobierno-abierto-logo.jpg"), root_path, :class => "logo_page" %>
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>