<div class="result">
	<%= link_to result["title"], result["url"], :target => "_BLANK" %>
	<%#= link_to "Sala Negra | ElFaro.net", "#{}", :target => "_BLANK" %>

	<p>
		<%= result["content"].truncate(400) %>
	</p>
</div>

<hr />