
<div id="search_form" class="grid_12">
	<div class="container">	
		<%= image_tag "gobierno-abierto-logo.jpg", :class => "logo" %>
		<span class="use_text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit........
		</span>
		<form>
			<input id="text" type="text"></input>
			<input class="search_action" type="submit" value=""></input>	
		</form>
	</div>
</div>	