
<div id="search_form" class="grid_12">
	<div class="container">	
		<%= image_tag "gobierno-abierto-logo.jpg", :class => "logo" %>
		<span class="use_text">
			Yo quiero saber mas informacion sobre:
		</span>
		<%= render :partial => "search_form" %>
	</div>
</div>	