<div id="search_form_item">

	<form>
		<input id="text" type="text"></input>
		<input class="search_action" type="submit" value=""></input>
		<%=select_tag :keyword,options_for_select(@keywords_select) %>
	</form>

</div>