
<div class="user_values grid_11">
<% if user_signed_in? %>
			
			<div class="user_value">
					<strong><%= current_user.email %></strong>
			</div>
			<div class="user_values_menu">
				<%= link_to  "Editar el perfil ", edit_user_registration_path, :class => 'navbar-link user_value' %>
		  		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link logout'  %>	
			</div>
			
		  
		<% else %>
		  <%#= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
		  <%= link_to "Login", new_user_session_path, :class => 'navbar-link log_in'  %>
		<% end %>
</div>
	